---
import experience from '@data/timeline.json';
import Link from '@elements/Link.astro';
import H2 from '@elements/H2.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import P from '@elements/P.astro';
import Section from '@elements/Section.astro';
import SecondaryLink from '@elements/SecondaryLink.astro';
import { Markdown } from 'astro/components';
---
<Section id="experience">
  <H2>Experience</H2>

  <List>
    {experience.map(x => (
    <ListItem>
      <Link href={x.url}>{x.name}</Link>
      <div class="">{x.capacity}, {x.timeframe}</div>
      <List level="1">
        {x.items.map(item => (
        <ListItem><span class="prose prose-p:inline hover:prose-a:font-bold prose-a:decoration-2  prose-a:decoration-fuchsia-600"><Markdown>{item}</Markdown></span></ListItem>
        ))}
      </List>
    </ListItem>
  ))
  }
  </List>
</Section>
